In [1]:
import pandas as pd

In [3]:
#List to DataFrame
ls = [1,2,3,4,5,6,7,8]
var = pd.DataFrame(ls)
print(var)
print(type(var))

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8
<class 'pandas.core.frame.DataFrame'>

In [7]:
#Dictionary to DataFrame
dic = {"a": [1,2,3,4], "b":[1,2,3,4]}   #Number of elements of each attribute must be same
# dicToDF = pd.DataFrame(dic) #all columns are considered
dicToDF = pd.DataFrame(dic, columns=["a"]) #Only column a will be considered
print(dicToDF)

   a
0  1
1  2
2  3
3  4

In [8]:
#DataFrame Indexing
print(dicToDF["a"][2])

3

In [11]:
#2D list to dictionary
ls = [[1,2,3,4,5,6],[10,11,12,13,14]]
lsToDF = pd.DataFrame(ls)
print(lsToDF)

    0   1   2   3   4    5
0   1   2   3   4   5  6.0
1  10  11  12  13  14  NaN

In [13]:
#Series to DataFrame
sr = {"s": pd.Series([1,2,3,4]), "r": pd.Series([6,7,8,9])}
srToDF = pd.DataFrame(sr)
print(srToDF)

   s  r
0  1  6
1  2  7
2  3  8
3  4  9

Arithmetic Operations

In [21]:
var = pd.DataFrame({"A": [1,2,3,4], "B": [5,6,7,8]})
var

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [22]:
var["Sum"] = var["A"] + var["B"]
print(var)

   A  B  Sum
0  1  5    6
1  2  6    8
2  3  7   10
3  4  8   12

In [23]:
#condition -> Sum is greater than or equal 8
var["Sum_Status"] = var["Sum"] >= 8
print(var)

   A  B  Sum  Sum_Status
0  1  5    6       False
1  2  6    8        True
2  3  7   10        True
3  4  8   12        True

In [25]:
var = pd.DataFrame({"A": [1,2,3,4], "B": [5,6,7,8]})
print(var)

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

Data Insertion

In [26]:
var.insert(2,"sum",(var["A"]+var["B"]))     #insert(index , "Column name", list) #list size must be same as other column
print(var)

   A  B  sum
0  1  5    6
1  2  6    8
2  3  7   10
3  4  8   12

In [27]:
var["New Column"] = var["A"][:3]
print(var)

   A  B  sum  New Column
0  1  5    6         1.0
1  2  6    8         2.0
2  3  7   10         3.0
3  4  8   12         NaN

Data deletion

In [29]:
#Using pop function
sum = var.pop("sum")
print(sum)
print(var)

0     6
1     8
2    10
3    12
Name: sum, dtype: int64
   A  B  New Column
0  1  5         1.0
1  2  6         2.0
2  3  7         3.0
3  4  8         NaN

In [30]:
#Using del
del var["New Column"]
print(var)

   A  B
0  1  5
1  2  6
2  3  7
3  4  8